<div class="landing-hero">
  <header id="landing-header">
    <h4>My<span class="text-primary-blue">Jobs</span></h4>
    <button class="btn btn-transparent" routerLink="/login">
      Login/Signup
    </button>
  </header>
  <hr />

  <section class="landing-hero-content">
    <div class="hero-text">
      <h1>Welcome to</h1>
      <h1>My<span class="text-primary-blue font-600">Jobs</span></h1>
      <div class="cta-button">
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>

    <div class="hero-image">
      <img src="assets/recruiter.jpg" alt="Recruiter Image" />
    </div>
  </section>
</div>

<section id="why-us">
  <p>Why Us</p>
  <div class="col-md-12">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-content">
            <span class="text-primary-blue font-600">
              Get More Visibility
            </span>
            <p class="card-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Inventore quia eum ratione.
            </p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-content">
            <span class="text-primary-blue font-600">
              Organize your Candidates
            </span>
            <p class="card-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Inventore quia eum ratione.
            </p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-content">
            <span class="text-primary-blue font-600"
              >Verify their Abilities
            </span>
            <p class="card-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Inventore quia eum ratione.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="partners">
  <p>Companies Who Trust Us</p>
  <div class="col-md-12">
    <img src="../../assets/companies.JPG" alt="partners" />
  </div>
</section>
