<div class="branding-bcg">
  <header>
    <h4>My<span class="text-primary-blue">Jobs</span></h4>
  </header>
  <hr />
</div>

<div class="activity-card">
  <h4>Forgot your Password?</h4>
  <label class="mt-2 mb-2">
    Enter the email address associated with your account, and we'll send you
    instructions to reset your password.
  </label>
  <form [class.was-validated]="incorrectCredentials" novalidate>
    <div class="form-group mt-4">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        placeholder="Enter your email"
        required
        [(ngModel)]="email"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <div class="invalid-feedback text-right">
      Incorrect email address or password.
    </div>

    <div class="text-center mt-4">
      <button
        type="submit"
        class="action-btn btn btn-primary mt-2 pl-3 pr-3"
        (click)="resetPassword()"
      >
        Submit
      </button>
    </div>
  </form>
</div>
